<button
  type="button"
  class="map-point"
  [class]="extraClasses"
  [class.map-point--locked]="!draggable"
  [class.map-point--dragging]="isLiveEditing"
  [style.left.%]="displayInfluence"
  [style.bottom.%]="displayInterest"
  [style.--marker-counter-scale]="markerScale"
  [attr.aria-label]="displayAriaLabel"
  (click)="onClick()"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerUp($event)"
  (keydown)="onKeydown($event)"
  (blur)="onBlur()"
></button>

@if (isLiveEditing) {
  <span
    class="map-point__live mono"
    role="status"
    [style.left.%]="displayInfluence"
    [style.bottom.%]="displayInterest"
  >
    {{ liveValuesText }}
  </span>
}
